.App {
  text-align: center;
}



body {
  background: #9199BE;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #2E303E;
  color: white;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

img {
  max-width: 60%;
}

i {
  color: rgb(238, 211, 31);
}

.rarity {
  font-size: 1.4rem;
  font-weight: bold;
}

.item-info {
  margin: 0 auto;
  max-width: 50%;
}

.description {
  font-style: italic;
}

.info-block {
  display: flex;
  justify-content: center;
  text-align: left;
  font-size: 1.2rem;
}

.ratings {
  margin-right: 8em;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px
  }
  .info-block {
    flex-direction: column;
  }
  .ratings, .additional {
    margin: 0 auto;
    text-align: center;
  }
}
